{% extends "base.html" %}
{% load django_bootstrap5 %}

    <title>{% block title %}
        {% if object %}
        Edit "{{ object.title }}"
        {% else %}
        Add new contents
        {% endif %}
        {% endblock %}
    </title>

     {% block content %}
    <div class="container bg-light text-center">
        <div class="py-5">
        <h1 class="title py-3">
            {% if object %}
            Edit "{{ object.title }}"
            {% else %}
            Add new contents
            {% endif %}
        </h1>
        </div>
        <div>
        <h2 class="py-3 text-primary">Information about lesson</h2>
        <form method="post" enctype="multipart/form-data" class="py-3">
            {% bootstrap_form form.media %}
            {% bootstrap_form form %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Done and Save</button>
        </form>
            <div class="py-5">
         <div class="py-5">
             <div class="py-5">
                 <div class="py-5"><div class="py-5">
                 </div></div>
             </div>
         </div>
     </div>
        </div>
    </div>
    {% endblock %}