<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

<head>
    <title>{% block title %}Login{% endblock %}</title>
</head>

<body>

    {% block content %}

    <div class="container text-light">
        <div class="py-3 id text-center text-primary">
            <h1 class="py-5">Welcome to hiPal</h1>
        </div>
        <div class="py-4">
            <h3 class="text-center"> Log in</h3>
        </div>
    <div class="text-center">
        {% if form.errors %}
        <p>Password or username didn't match. Please enter correct password or username.</p>
        {% else %}
        <p>Enter your credentials to sign in:</p>
        {% endif %}
        <div>
            <form method="post" class="form-group">
                {{ form.as_p }}
                {% csrf_token %}
                <p>
                     <input class="btn btn-primary" type="submit" name="next" value="Log in" />
                </p>
            </form>
            <p>Don't have an account.</p>
            <a class="btn btn-primary" href="{% url 'register' %}">Sign up</a>
        </div>
    </div>
    </div>

    {% endblock %}

</body>

</html>