<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

<head>

    <title>{% block title %}List of lessons{% endblock %}</title>
</head>

<body>

{% block content %}
<div>
    <h1>Lessons List</h1>
    <div class="module">
        {% for lesson in object_list %}
        <div class="info-lesson">
            <h3>{{ lesson.title }}</h3>
            <p>
                <a href="{% url 'update_lesson' lesson.id %}">Update</a>
                <a href="{% url 'delete_lesson' lesson.id %}">Delete</a>
            </p>
        </div>
        {% empty %}
        <p>You don't have any created lessons</p>
        {% endfor %}
        <p>
            <a href="{% url 'add_lesson' %}" class="btn btn-outline-primary my-2 my-sm-0">Add new lesson</a>
        </p>
    </div>
</div>
{% endblock %}

</body>

</html>