<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

<head>
    <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    <link rel="stylesheet" href="{% static 'css/languages.css' %}" type="text/css">
    <title>{% block title %}Login{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="container text-light">
        <div class="py-3 id text-center text-primary">
            <h1 class="py-5">Welcome to hiPal</h1>
        </div>
        <div class="py-4">
            <h3 class="text-center"> Log in</h3>
        </div>
    <div class="text-center text-light">
        {% if form.errors %}
        <p>Password or username didn't match. Please enter correct password or username.</p>
        {% else %}
        <p>Enter your credentials to sign in to get started:</p>
        {% endif %}
        <div class="row">

        <div class="col-sm my-3 pb-5 mx-5 pt-5 text-light text-center bg-dark" style="width:50%">
          <p class="text-primary">For Instructors</p>
          <form method="post" class="form-group pt-5 pb-3" action="{% url 'instructor_login' %}" >
                {{ form.as_p }}
                {% csrf_token %}
                <p>
                     <input class="btn btn-primary" type="submit" name="next" value="Log in" />
                </p>
            </form>
             <p>Don't have an account!</p>
            <div>
            <a class="btn btn-primary" href="{% url 'instructor_registration' %}">Sign up</a>
            </div>
        </div>
        <div class="col-sm my-3 mx-5 pb-5 pt-5 text-light text-center bg-dark">
          <p class="text-primary">For Students</p>
          <form method="post" class="form-group pt-5 pb-3" action="login">
                {{ form.as_p }}
                {% csrf_token %}
                <p>
                     <input class="btn btn-primary" type="submit" name="next" value="Log in" />
                </p>
            </form>
             <p>Don't have an account!</p>
            <div>
            <a class="btn btn-primary" href="{% url 'student_registration' %}">Sign up</a>
            </div>
        </div>
        </div>
    </div>
    </div>
    {% endblock %}



</body>

</html>