{% extends "base.html" %}
{% load django_bootstrap5 %}

    <title>{% block title %} Edit "{{ lesson.title }}" {% endblock%}</title>

 {% block content %}
<div class="container bg-light text-center">
    <div class="py-5">
        <h1 class="title py-3">Edit "{{ lesson.title }}"</h1>
        <div class="py-3">
            <h2 class="py-3 text-primary">Lesson Units</h2>
            </div>
        </div>
    <div class="mx-3">
        <div style="display:inline-block;">
                <form method="post" style="display:inline-block;">
                {{ formset }}
                {{ formset.management_form }}
                {% csrf_token %}
                    <div class="py-3">
                        <button type="submit" class="btn btn-primary text-center">Save Units</button>
                    </div>

            </form>
    </div>
        </div>
</div>
{% endblock%}