<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load lesson %}
{% load static %}

<head>
        <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    <link rel="stylesheet" href="{% static 'css/languages.css' %}" type="text/css">
    <title>{% block title %} Unit {{ unit.order|add:1 }} : {{ unit.title }} {% endblock %}</title>
</head>

<body>
{% block content %}
<div class="container bg-light">

    {% with lesson=unit.lesson %}
    <h1 class="text-center">Lesson "{{ lesson.title }}"</h1>
    <div class="content text-center">
        <h3>Units</h3>
        <ul id="units">
            {% for u in lesson.units.all %}
            <li data-id="{{ unit.id }}" {% if u == unit %} class="selected" {% endif %}>
                <a href="{% url 'unit_content_list' u.id %}">
                    <span>Unit
                        <span class="order">{{ u.order|add:1 }}
                        </span>
                    </span>
                    <br> {{ u.title }}
                </a>
            </li>
            {% empty %}
            <li>You don't have any units yet.</li>
            {% endfor %}
        </ul>
        <div>
            <p>
                <a href="{% url 'lessons_list' %} ">My Lessons</a>
            </p>
        </div>

    </div>
    <div class="unit text-center">
        <h2>Unit {{ unit.order|add:1 }} : {{ unit.title }}</h2>
        <h3>Unit Contents</h3>
        <div id="unit-contents">
            {% for content in unit.contents.all %}
            <div data-id="{{ content.id }}">
                {% with item=content.item %}
                <p>
                    {{ item }} ({{ item|model_name }})
                </p>
                <a class="btn btn-primary" href="{% url 'update_unit_content' unit.id item|model_name item.id %}">Edit</a>
                <form action="{% url 'delete_unit_content' content.id %}" method="post">
                    <button type="submit" class="btn btn-primary">Delete</button>
                    {% csrf_token %}
                </form>
                {% endwith %}
            </div>
            {% empty %}
            <p>There are no contents in the unit </p>
            {% endfor %}
        </div>
        <h3> Add new content</h3>
        <ul class="content-type">
            <li><a href="{% url 'create_unit_content' unit.id 'file' %}">File</a></li>
            <li><a href="{% url 'create_unit_content' unit.id 'text' %}">Text</a></li>
            <li><a href="{% url 'create_unit_content' unit.id 'video' %}">Video</a></li>
            <li><a href="{% url 'create_unit_content' unit.id 'image' %}">Image</a></li>
        </ul>
    </div>
</div>
    {% endwith %}
    {% endblock %}
    {% block domready %}
       $('#units').sortable({
          stop: function(event, ui) {
             units_order = {};
               $('#units').children().each(function(){
               // update the order field
               $(this).find('.order').text($(this).index() + 1);
               // associate the unit's id with its order
               units_order[$(this).data('id')] = $(this).index();
             });
             $.ajax({
               type: 'POST',
               url: '{% url "units_order" %}',
               contentType: 'application/json; charset=utf-8',
               dataType: 'json',
               data: JSON.stringify(units_order)
             });
          }
      });

      $('#units-contents').sortable({
          stop: function(event, ui) {
             contents_order = {};
               $('#units-contents').children().each(function(){
               // associate the unit's id with its order
               contents_order[$(this).data('id')] = $(this).index();
             });

             $.ajax({
               type: 'POST',
               url: '{% url "contents_order" %}',
               contentType: 'application/json; charset=utf-8',
               dataType: 'json',
               data: JSON.stringify(contents_order),
            });
         }
      });
{% endblock %}
</body>

</html>