<!DOCTYPE html>
<html lang="en">
{% extends "baseblog.html" %}
{% load static %}
{% load blog_tags %}

<head>
    <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    {% load static %}
    <link href="{% static 'blog/styles.css' %}" rel="stylesheet" type="text/css">

    <title>{% block title %} My Post list {% endblock %}</title>
</head>

<body>


            {% block content %}
            <h1 class="text-center">My Posts</h1>
            {% if tag %}
            <h2>Below are the posts tagged with "{{ tag.name }}"</h2>
            {% endif %}
            {% for post in posts %}
            <h2>
                <a href="{{ post.get_absolute_url }}">{{ post.title}}</a>
            </h2>
            <p class="tags">
                Tags:
                {% for tag in post.tags.all %}
                <a href="{% url 'blog:blog_post_list_with_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %},
                {% endif %}
                {% endfor %}
            </p>
            <p class="date">Posted on {{ post.published_date}} by {{ post.author }}</p>
            {{ post.blog_body|markdown|truncatewords_html:40}}
            {% endfor %}
            {% include "pagination.html" with page=posts %}
            {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            {% block domready %}
            {% endblock %}
        });
    </script>

</body>

</html>