<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
        <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    <link rel="stylesheet" href="{% static 'css/languages.css' %}" type="text/css">
    <title>{% block title %} {{ object.title }}{% endblock %}</title>
</head>

<body>
{% block content %}
    <div class="container bg-light">

        {% with language=object.language %}
        <h1 class="text-center">
            {{ object.title }}
        </h1>
        <div class="unit text-center">
            <h2>Outline</h2>
            <p>
               <a href="{% url 'lesson_list_language' language.slug %}"> {{ language.title }}</a>
                 {{ object.units.count }} units.
                 Teacher, Instructor, Trainer : {{ object.creator.get_full_name }}
            </p>
            {{ object.outline|linebreaks }}
            {% if request.user.is_authenticated %}
            <form action="{% url 'enrollment' %}" method="POST">
                {{ enroll_form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Enroll Now">
            </form>
            {% else %}
                <a href="{% url 'student_registration' %}" class="btn btn-primary">Register to enroll</a>
            {% endif %}
        </div>
       {% endwith %}

    </div>
   {% endblock %}
</body>

</html>