<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    <link rel="stylesheet" href="{% static 'css/languages.css' %}" type="text/css">
    <title>{% block title %}
        {% if language %}
        {{ language.title }} lessons
        {% else %}
        All lessons
        {% endif %}
        {% endblock %}
    </title>
</head>

<body>
    {% block content %}
    <div class="container bg-light">

        <div class="text-center text-light">
            <h1>
                {% if language %}
                {{ language.title}} lessons
                {% else %}
                All lessons
                {% endif %}
            </h1>
        </div>

        <div class="row">
            <div class="col-sm my-3 pb-5 pt-5">
                <h2>Languages</h2>

                <p id="units">
                    {% for lang in languages %}
                <ul {% if language==lang %} class="selected" {% endif %}>
                    <a href="{% url 'lesson_list_language' lang.slug %}"> {{ lang.title }}
                        <br><span>{{ lang.total_lessons }} lessons</span>
                    </a>
                </ul>
                {% endfor %}
                <ul {% if not language %} class="selected" {% endif %}>
                    <a href="{% url 'lesson_list' %}">All Contents</a>
                </ul>
                </p>

            </div>
            <div class="text-center col-sm my-3 pb-5 pt-5">
                {% for lesson in lessons %}
                {% with language=lesson.language %}
                <h3>
                    <a href="{% url 'lesson_detail' lesson.slug %}"> {{ lesson.title }}</a>
                </h3>
                <p>
                    <a href="{% url 'lesson_list_language' language.slug %}"> {{ language }}</a>
                    {{ lesson.total_units }} units.
                    Teacher, Instructor, Trainer : {{ lesson.creator.get_full_name }}
                </p>
                {% endwith %}
                {% endfor %}
            </div>
        </div>

    </div>
    {% endblock %}

</body>

</html>