<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
        <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    <link rel="stylesheet" href="{% static 'css/languages.css' %}" type="text/css">
    <title>{% block title %}
               {% if language %}
                   {{ language.title }} lessons
               {% else %}
                   All lessons
               {% endif %}
           {% endblock %}
    </title>
</head>

<body>
    <div class="container text-light">
    {% block content %}
    <div class="text-center">
        <h1>
            {% if language %}
                {{ object.title}} lessons
            {% else %}
                All lessons
            {% endif %}
        </h1>
    </div>

        <div class="row">
              <div class="content-wrap text-center col-sm my-3 pb-5 pt-5 bg-light text-dark">
        <h2>Languages</h2>

        <ul id="units">
            {% for lang in languages %}
            <li {% if language == lang %} class="selected" {% endif %}>
                <a href="{% url 'lesson_list_language' lang.slug %}"> {{ lang.title }}
                <br><span>{{ lang.total_lessons }} lessons</span>
                </a>
            </li>
            {% endfor %}
            <li {% if not language %} class="selected" {% endif %}>
                <a href="{% url 'lesson_list' %}">All</a>
            </li>
        </ul>

    </div>
                <div class="unit text-center col-sm my-3 pb-5 pt-5 bg-light text-dark">
         {% for lesson in lessons %}
            {% with language=lesson.language %}
            <h3>
                <a href="{% url 'lesson_detail' lesson.slug %}"> {{ lesson.title }}</a>
            </h3>
            <p>
                <a href="{% url 'lesson_list_language' language.slug %}"> {{ language }}</a>
                {{ lesson.total_units }} units.
                Teacher, Instructor, Trainer : {{ lesson.creator.get_full_name }}
            </p>
            {% endwith %}
         {% endfor %}
     </div>
        </div>


    {% endblock %}
        </div>
</body>

</html>