<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% load static %}


<head>
    <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    <link rel="stylesheet" href="{% static ',message_chat/styles.css' %}" type="text/css">

    <title>{% block title %}Base{% endblock %}</title>
</head>

<body>

    {% block content %}
    <div class="container text-center bg-light">
        <div>
            <h2 class="py-5">Messaging</h2>
            <div class="py-5">
                <input id="text-input" type="text">
            </div>
            <input id="text-submit" class="btn btn-primary" type="submit" value="Send">
        </div>
    </div>

    {% endblock %}

    {% block domready %}
    var url = 'ws://' + window.location.host + '/ws/messaging/room/' + '{{ lesson.id }}/';
    var messagingSocket = new WebSocket(url);

    messagingSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data.message;

    var $messaging = $('#messaging');
    $messaging.append('<div> class="message">' + message + '</div>');
    $messaging.scrollTop($messaging[0].scrollHeight);
    };

    messagingSocket.onclose = function(e) {
    console.error('Messaging Socket closed');
    };

    var $input = $('text-input');
    var $submit = $('text-submit');

    $submit.click(function() {
    var message = $input.val();
    if (message) {
    // send message
    messageSocket.send(JSON.stringify({'message': message}));
    // clear input
    $ input.val('');
    // return focus
    $input.focus();
    }
    });

    $input.focus();
    $input.keyup(function(e) {
    if (e.which == 13) {
    // submit with return / enter key
    $submit.click();
    }
    });

    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</body>

</html>