<!doctype html>
<html lang="en">
{% extends 'studentbase.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'languages/styles.css' %}" type="text/css">
    <title>{% block title %} Lessons {% endblock %} </title>
</head>

<body>
   {% block content %}
    <div class="container bg-light">
           <div class="text-center py-3">
              <h1 class="title">Lessons</h1>
           </div>
     <div class="text-center">
         {% for lesson in object_list %}
         <div>
            <h2>{{ lesson.title }}</h2>
                <p><a href="{% url 'student_lesson_details' lesson.id %}">Get access to contents</a>
                </p>
         </div>
         {% empty %}
         <p>
             You need to be enrolled in to gain access to any of the contents.
             <a href="{% url 'lesson_list' %}"> You can browse lessons</a>
                for enrollment.
         </p>
         {% endfor %}
     </div>

    </div>
{% endblock %}

</body>

</html>