{% extends 'base.html' %}
{% load static %}

    <title>{% block title %} {{ object.title }}{% endblock %}</title>

    {% block content %}
            <div class="container bg-secondary">

            <div class="py-5">
            <h1 class="title py-3 text-center">
                {{ unit.title }}
            </h1>
        </div>
        <div class="wrapper">
            <div class="sidebar">
                  <h2 class="py-5 text-success">Units</h2>
            {% for i in object.units.all %}
            <ul data-id="{{ i.id }}" {% if i == unit %} class="selected" {% endif %}>
                <a href="{% url 'student_lesson_details_unit' object.id i.id %}">
                    <span class="text-light">
                        Unit <span >{{ i.order|add:1 }}</span>
                    </span>
                    <br>{{ i.title }}
                </a>
            </ul>
            {% empty %}
            <ul class="text-light"> There are no units yet</ul>
                  <div class="py-5">
                <div class="py-5">
                    <div class="py-5">
                        <p class="py-5"></p>
                    </div>
                </div>
                </div>
            {% endfor %}
            </ul>
            </div>
               <div class="bg-secondary py-5 mx-3">
                   <div class="bg-dark py-5 mx-5">
                           {% for content in unit.contents.all %}

            <h2 class="text-center text-light py-5">{{ content.item.title }}</h2>
            <div class="mx-5 bg-light">{{ content.item.render|safe }}
            </div>

            {% endfor %}
                   </div>
            </div>
        </div>
                  <div class="py-5">
                <div class="py-5">
                    <div class="py-5">
                        <div class="py-5">
                            <div class="py-2"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% endblock %}
