<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
        <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    <link rel="stylesheet" href="{%static 'css/languages.css'%}" type="text/css">

    <title>{% block title %}Delete lesson{% endblock %}</title>
</head>

<body>
<div class="container">
    {% block content %}
    <div class="container text-center text-light">
        <h1>Delete lesson "{{ object.title }}"</h1>
        <div class="module">
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to proceed to deletion of "{{ object }}"?</p>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>
    </div>
    {% endblock %}
</div>

</body>

</html>