<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load django_bootstrap5 %}

    <title>{% block title %}Form of registration{% endblock %}</title>

    {% block content %}
    <div class="container bg-light main content text-center">
    <div class="text-center py-5">
        {% if object %}
        <h1 class="title py-3">Edit lesson "{{ object.title}}"
            {% else %}
            <h1 class="title">Create a new lesson</h1>
            {% endif %}
        </h1>
    </div>
    <div class="text-center" >
        <h2 class="text-primary">Information about lesson</h2>
        <div style=" display:inline-block;">
            <form method="post" style="display:inline-block;">
            {% bootstrap_form form %}
            {% csrf_token %}
            <p><input type="submit" class="btn btn-primary" value="Save"></p>
        </form>
        </div>

    </div>
    </div>
    {% endblock %}