<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
        <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    <link rel="stylesheet" href="{% static 'css/languages.css' %}" type="text/css">
    <title>{% block title %}Form of registration{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="container bg-light main content text-center">
    <div class="text-center py-5">
        {% if object %}
        <h1 class="title py-3">Edit lesson "{{ object.title}}"
            {% else %}
            <h1 class="title">Create a new lesson</h1>
            {% endif %}
        </h1>
    </div>
    <div class="text-center" >
        <h2 class="text-primary">Information about lesson</h2>
        <div style=" display:inline-block;">
            <form method="post" style="display:inline-block;">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" class="btn btn-primary" value="Save"></p>
        </form>
        </div>

    </div>
    </div>
    {% endblock %}
</body>

</html>