<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

<head>
        <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Incorporated CSS-->
    <link rel="stylesheet" href="{% static 'css/languages.css' %}" type="text/css">
    <title>{% block title %}List of lessons{% endblock %}</title>
</head>

<body>

    {% block content %}
    <div  class="container text-light ">
    <div class="text-center">
        <h1 class="my-3">Lessons List</h1>
        <div>
            {% for lesson in object_list %}
            <div class="info-lesson">
                <h3>{{ lesson.title }}</h3>
                <p>
                    <a class="btn btn-primary " href="{% url 'update_lesson' lesson.id %}">Update</a>
                    <a class="btn btn-primary " href="{% url 'delete_lesson' lesson.id %}">Delete</a>
                    <a class="btn btn-primary " href="{% url 'lessons_units' lesson.id %}">Edit Units</a>
                    {% if lesson.units.count > 0 %}
                    <a class="btn btn-primary" href="{% url 'unit_content_list' lesson.units.first.id %}">Units
                        Management</a>
                    {% endif %}
                </p>
            </div>
            {% empty %}
            <p>You don't have any created lessons</p>
            {% endfor %}
            <p>
                <a href="{% url 'add_lesson' %}" class="btn btn-primary">Add new lesson</a>
            </p>
        </div>
    </div>
        </div>
    {% endblock %}


</body>

</html>