<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% load static %}

<head>
        <!-- Required meta templatetags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    {% block content %}
    <div class="container bg-light main content text-center">
        <h1 class="title my-3">Lessons List</h1>
        <div>
            {% for lesson in object_list %}
            <div class="info-lesson">
                <h3>{{ lesson.title }}</h3>
                <p>
                    <a class="btn btn-primary " href="{% url 'update_lesson' lesson.id %}">Update</a>
                    <a class="btn btn-primary " href="{% url 'delete_lesson' lesson.id %}">Delete</a>
                    <a class="btn btn-primary " href="{% url 'lessons_units' lesson.id %}">Edit Units</a>
                    {% if lesson.units.count > 0 %}
                    <a class="btn btn-primary" href="{% url 'unit_content_list' lesson.units.first.id %}">Units
                        Management</a>
                    {% endif %}
                </p>
            </div>
            {% empty %}
            <p>You don't have any created lessons</p>
            {% endfor %}
            <p>
                <a href="{% url 'add_lesson' %}" class="btn btn-primary">Add new lesson</a>
            </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>