@import url(//fonts.googleapis.com/css?family=Roboto:500,300,400);


/* CSS for the project*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

html, body {
    height: 100%;
}

/* Navigation menu */
.sidenav {

    background-color:black;
    padding-top: 65px;
    transition: 0.5s;
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

}


/* Navigation menu links */
.sidenav a {
    text-decoration: none !important;
    color:black;
    display: block;
    padding: 8px 8px 8px 32 px;
    transition: 0.5s;
    font-size: 25px;

}

/* Change the color when the mouse over the navigation links */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style for the closing button */
.sidenav .closeout {
    top: 0;
    float: right;
    font-size: 25px;
    position: absolute;
    margin-left: 50px;
    color: white;
    right: 25px;

}

#header .login {
    text-align: center

}

#sidebar {
    text-align: left;
    float: right;
    width: 20%;
    /*padding:10px;*/
    background-color:white;
    height:100%;
    text-decoration-line: underline;

}

navbar-brand{
    background-color: #efefef
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;

}

.wrapper {
    display: flex;
    justify-content: space-between;
  }

.main, .sidebar {
    border: 2px solid black;
    padding: 5px;
    background-color: #fff;
  }

  .main {
    width: 80%;
    height: 150vh;
    border: 2px solid black;
    transition: margin-left .5s;
    padding: 20 px;

  }
/* Updates styles when the size of the screen is below 450px */
  @media screen and (max-height: 450px){
      .sidenav {
          padding-top: 14px;
      }

      .sidenav a {
          font-size: 16px
      }
  }

  .sidebar {
    width: 28%;
    height: 100%;
    position:-webkit-sticky;
    position: sticky;
    top: 0;


  }

  .profile-picture {

 width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000;

}

  .form-inline .form-group {
    vertical-align:bottom;
    position: absolute;
    bottom: 0;
  }

.fa-google {
  background:
    linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%,
    linear-gradient(to top    left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%,

    linear-gradient(-40deg ,transparent 53%,#ea4335 54%),
    linear-gradient( 45deg ,transparent 46%,#4285f4 48%),
    #34a853;
  background-repeat:no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.title{
   color:#4285f4;
   text-shadow:slategray;
   text-transform: uppercase;
   border: 2px solid black;
   box-shadow: 10px 5px 5px black;
   
}

